:root{
  --glow-color : hsl(186 100% 69%)
}

.post-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-like{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

.post-interaction{
  display: flex;
  gap: 2rem;
}

.post-interaction-button{
  display: flex;
  flex-direction: column;
  align-items: center;
}

