.feed-container{
  height: 1000px;
  background-color: white;
  border-radius: 15px;
}

.feeds-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.feed-grid-3{ width: 37.5rem; }
.feed-grid-4{ width: 18.75rem; }

@media (max-width: 768px) {

  

}

@media (min-width: 769px) and (max-width: 1080px) {

}
