.Post-header{
  display: flex;
  justify-content: space-between;
}

.Post-header-author{
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
}

.Post-header-author-avatar{
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #000;
}
.Post-header-author-avatar img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Post-header-author-details{
  display: flex;
  flex-direction: column;
}


.Post-header-author-personal-info{
  display: flex;
  gap: .5rem;
  align-items: flex-end;
}

.Post-header-author-personal-name-badge{
  display: flex;
  gap: .1rem;
}

.Post-time-ago{
  color: var(--grey-6);
  display: flex;
  padding-top: .1rem;
  gap: .2rem;
}

.Post-time-ago p{
  font-size: .8rem;
  color: var(--grey-6);
}
