.register-page{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-name{
  display: flex;
  gap: 2rem;
}

.register-name div{
  width: 50%;
}

.register-form-button{
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  gap: 2rem;
}


