.header{
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}

.header-container{
  display: flex;
  align-items: center;
  margin: .5rem 1rem;
  justify-content: space-between;
  height: 3rem;
}

.log{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}