.menu-items{
  padding: .5rem;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .7rem;
}

.menu-item:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.menu-item-icons{
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .7rem;
}

.menu-items .active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  border-radius: 15px;
}
