.add-comments-container{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.comment-submit{
  display: flex;
  align-items: center;
}

.comment-post-button{
  display: flex;
  align-items: center;
}

.show-comments{
  margin-top: .5rem;
}

.comment-container{
  display: grid;
  grid-template-columns: 4.5rem 1fr;
}

.comment-author-image{
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #000;
}

.comment-author-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.comment-author-name-badge{
  display: flex;
  gap: .2rem;
}

.comment-menus{
  padding-top: .5rem;
  display: flex;
  gap: 1.5rem;
}

.comment-menu{
  cursor: pointer;
}